.temporizadorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.temporizador{
    display: flex;
    gap: 10px;
}

.temporizador p{
    font-size: 60px;
}